Checks:
  - 'boost-*'
  - 'bugprone-*'
  - 'cert-*'
  - 'concurrency-*'
  - 'cppcoreguidelines-*'
  - 'google-*'
  - 'hicpp-*'
  - 'misc-*'
  - 'modernize-*'
  - 'objc-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'
